body {
    text-align: center;
    background-color: burlywood;
    
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-family: 'Erica One', sans-serif;
    color:black;
    font-style: italic;
    background-color: sandybrown;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 30px;
  }
  
  #title {
    font-size: 60
    px;
  }
  
  h2 {
    font-family: 'Erica One', sans-serif;
    font-style: italic;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    margin-top: 2%;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdxWGd_9lydDGArctD6mKfNyRAqmFwjZ5H3Lh6fg50DpSunnyu');
  }
  
  .running-total {
    font-family: 'Roboto', sans-serif;
  }
  
  .total-score {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
  }
  
  .player-one-rolls-one {
    font-size: 36px;
    font-family: 'Erica One', sans-serif;
    text-align: center;
    display: none;
  }
  
  .player-col {
    border: 10px solid black;
    border-radius: 40px;
    height: 300px;
    background-color:sandybrown;

  }
  
  .btn {
    height: 60px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    color:black;
    background-color:burlywood;
  }
  
  #winner {
    display: none;
    font-family: 'Erica One';
    font-size: 72px;
  }
  
  #player-two-buttons {
    display: none;
  }
  p{
    color:black;
    font-size:18px;
  }
  h5{
    font-size:20px;
    color:black;
    font-style: italic;

  }
  footer{
    background-color: sandybrown;
    margin-bottom: 30px;
    font-size: 20px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 30px;
    margin-top: 40px;
  }